{% extends 'store/main.html' %}
{% load crispy_forms_tags %}


{% block content %}

<div class="header-bar">
    <h1>Login</h1>
</div>
<hr>
<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        {{form | crispy}}
        <input class="btn btn-success" style="margin-top:10px ; float: right;" type="submit" value="Login">
    </form>
    <br><br>
    <div class="row">
        <div class="col-lg-6">
            <p>Don't have an account? <a href="{% url 'register' %}">
                <button class="btn btn-primary" type="button">Register</button>
            </a></p>
        </div>
        <div class="col-lg-6">
            <p>Forgot Password? <a href="{% url 'password_reset' %}">
                <button class="btn btn-outline-dark" type="button">Reset</button>
            </a></p>
        </div>
    </div>
    
</div>






{% endblock content %}